@using GeekApp.Components.Layout
@using GeekApp.Components.Pages
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        // Redirect to login page programmatically
                        NavigationManager.NavigateTo("/login");
                    }
                </NotAuthorized>
                <Authorizing>
                    <div class="loading">Loading...</div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <Error />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>