@inject NavigationManager NavManager
@inject IAuthService AuthService
@using Microsoft.AspNetCore.Components.Authorization

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <!-- Brand on the left -->
        <a class="navbar-brand" href="/">GeekApp</a>

        <!-- Toggle button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links on the right -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/search">Search</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/discover">Discover</NavLink>
                </li>

                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/profile">Profile</NavLink>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-light ms-2" @onclick="Logout">Logout</button>
                        </li>

                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/login">Login</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/register">Register</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();
    }
}
